.container {
  height: 50px;
  background-color: lightgray;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*padding: 0 20%;*/
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: blue;
}

.active a{
  color: brown;
}

.access {
  display: flex;
  gap: 10px;
}


a {
  text-decoration: none;
  color: blue;
}
