<!--<p>paginator works!</p>-->
<!-- <mat-paginator #paginator-->
<!--                [length]="length"-->
<!--                [pageIndex]="pageIndex"-->
<!--                [pageSize]="pageSize"-->
<!--                [pageSizeOptions]="[5, 10, 25, 100]">-->
<!--                (page)="pageEvent = getServerData($event)"-->

<!-- </mat-paginator>-->
<!--<mat-paginator [length]="length" [pageIndex]="pageIndex"></mat-paginator>-->


<!--<pagination-controls (pageChange)="p = $event"></pagination-controls>-->

<!--<nav aria-label="...">-->
<!--  <ul class="pagination">-->
<!--    <li class="page-item {{disabledPrevious}}">-->
<!--      <a class="page-link" (click)="onClick(1)"><<</a>-->
<!--    </li>-->

<!--    <li class="page-item {{disabledPrevious}}">-->
<!--      <a class="page-link" (click)="onClick(page - 1)"><</a>-->
<!--    </li>-->

<!--    <li class="page-item active">-->
<!--      <a class="page-link">{{page}} <span class="sr-only"></span></a>-->
<!--    </li>-->

<!--    <li class="page-item {{disabledNext}}" routerLink="/genres">-->
<!--      <a class="page-link" (click)="onClick(page + 1)">></a>-->
<!--    </li>-->
<!--    <li class="page-item {{disabledNext}}">-->
<!--      <a class="page-link" (click)="onClick(total_pages)">>></a>-->
<!--    </li>-->



<!--&lt;!&ndash;    <li class="page-item disabled">&ndash;&gt;-->
<!--&lt;!&ndash;      <a class="page-link" href="#" tabindex="-1">Previous</a>&ndash;&gt;-->
<!--&lt;!&ndash;    </li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li class="page-item"><a class="page-link" href="#">1</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li class="page-item active">&ndash;&gt;-->
<!--&lt;!&ndash;      <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>&ndash;&gt;-->
<!--&lt;!&ndash;    </li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li class="page-item"><a class="page-link" href="#">3</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li class="page-item">&ndash;&gt;-->
<!--&lt;!&ndash;      <a class="page-link" href="#">Next</a>&ndash;&gt;-->
<!--&lt;!&ndash;    </li>&ndash;&gt;-->
<!--  </ul>-->
<!--</nav>-->
