<div class="container1">
  <div class="left">
    <app-post *ngFor="let post of posts" [post]="post"></app-post>
  </div>
  <router-outlet class="right"></router-outlet>
</div>

    We analyzed your package.json, there are some packages to update:

      Name                                    Version                  Command to update
     -------------------------------------------------------------------------------------
      @angular/cdk                            13.3.7 -> 14.0.1         ng update @angular/cdk
      @angular/cli                            13.3.5 -> 14.0.0         ng update @angular/cli
      @angular/material                       13.3.7 -> 14.0.1         ng update @angular/material
