<div class="d-flex flex-column align-items-center p-4">
  <div class="d-flex gap-3 flex-wrap justify-content-center mb-5">


    <app-movie *ngFor="let movie of movies | paginate: config" [movie]="movie" [genres]="genres"></app-movie>
  </div>
  <!--  <router-outlet></router-outlet>-->
</div>

<!--<div class="bg-dark bg-opacity-50 text-center text-lg-start justify-content-center">-->
<div class="text-center">
  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
</div>


<!--<pagination-controls (pageChange)="page = $event"></pagination-controls>-->
<!--<app-paginator></app-paginator>-->
